:root {
    --primary: #c192ec;
    --secondary: #f3e9fb;
    --border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navbar {
    background-color: var(--primary);
    padding: 14px 20px;
    margin: 0px
}

.navbar a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.filter-area {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: var(--secondary);
    padding-bottom: 8px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }

.middle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.sort-area {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.brand-list {
    list-style: none;
    flex: 1;
    padding-left: 10px;
}

.brand-list li {
    margin-top: 10;
    font-size: 18;
}

.brand-list label {
    margin-left: 8;
}

.price-range-filter {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.price-range-filter input {
    flex: 1 0 auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.fromto-label {
    margin-top: 10px;
}

.text-button {
    background-color: var(--primary);
    color: white;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    border: 0;
    text-transform: uppercase;
    margin: 10px 20px;

    &:active {
        opacity: 0.7;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.icon-button {
    background-color: var(--primary);
    color: white;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    border: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;

    &:active {
        opacity: 0.7;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.vehicle-list {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    margin: 0;
}

.vehicle-list-tile {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10;
    border-radius: var(--border-radius);
}

.sort-options {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sort-options li {
    background-color: #af6dec;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: var(--border-radius);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
        opacity: 0.7;
    }
}

.sort-options li label {
    margin-left: 5px;
}

.form-group,
.info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10;
}

.form-group label {
    flex: 0 0 auto;
    margin-right: 1rem;
    text-align: center;
    width: 100;
}

.form-group input,
.form-group textarea,
.form-group select {
    flex: 1 0 auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.info-label {
    flex: 0 0 auto;
    text-align: center;
    width: 100;
    font-weight: bold;
}

.info-value {
    flex: 1 0 auto;
    border-radius: var(--border-radius);
}

.info-description {
    /* Allow word wrapping */
    white-space: pre-wrap;
    /* Set a maximum height for the label */
    max-height: 100px;
    /* Enable scrolling if content exceeds the height */
    overflow: auto;
}
